.auth_left_part {
  display: flex;
  max-width: 647.385px;
  max-height: 728px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 141px 30px;
}

.auth_right_part {
  max-width: 722px;
  min-height: 100vh;
  display: flex;
  background: #1a2637;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
}

.login_btn {
  max-width: 239px;
  width: 100%;
  height: 58px;
  flex-shrink: 0;
  border-radius: 72px;
  background: #008ede !important;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Outfit;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup_btn {
  max-width: 239px;
  width: 100%;
  height: 58px;
  flex-shrink: 0;
  border-radius: 72px;
  background: #fff !important;
  color: #001b33;
  leading-trim: both;
  text-edge: cap;
  font-family: Outfit;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.auth_input_container {
  margin-top: 46px;
}

.auth_input_container label {
  color: #fff;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}

.auth_input {
  color: #fff;
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #969696;
  width: 100%;
  height: 55px !important;
}

.auth_input::placeholder {
  color: #fff;
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.auth_input:focus {
  background-color: transparent;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #ffff;
}

.auth_checkbox {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.auth_checkbox_label {
  color: #fff;
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.auth_register_btn {
  color: #fff;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 57px;
  background: #008ede;
  box-shadow: 2px 4px 6px 0px rgba(18, 18, 18, 0.2);
  max-width: 227px;
  width: 100%;
  height: 58px;
}

.forgot_pass {
  color: #fff;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* forgot pass styles */
.forgot_pass_container {
  max-width: 816px;
  max-height: 598px;
  padding: 118px 131px;
}

.forgot_pass_container h1 {
  color: #040308;
  font-family: Outfit;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.forgot_pass_container p {
  color: #040308;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.forgot_input_container {
  margin-top: 20px;
}

.forgot_input_container input {
  border-radius: 5px;
  border: 1px solid #000;
  background: #f8f8f8;
  width: 100%;
  height: 58px;
  padding: 0 10px;
}

.forgot_input_container input:focus {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #ffff;
}

.forgot_send_btn {
  width: 100%;
  height: 58px;
  border-radius: 5px;
  background-color: #008ede !important;
  color: #fff;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
}

.forgot_back_btn {
  width: 100%;
  height: 58px;
  border-radius: 5px;
  border: 1px solid #001b33;
  background: #fff;
  color: #001b33;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
}
/* forgot pass styles */

/* Styles for small devices (less than 600px) */
@media only screen and (max-width: 600px) {
  .auth_left_part {
    padding: 50px 10px;
  }
  .auth_right_part {
    padding: 141px 30px;
  }
  .auth_input_container {
    margin-top: 20px;
  }
  .signup_btn {
    max-width: 239px;
    width: 100%;
    height: 58px;
    border-radius: 72px;
    font-size: 16px;
  }
  .login_btn {
    max-width: 239px;
    width: 100%;
    height: 58px;
    border-radius: 72px;
    font-size: 16px;
  }
  .auth_register_btn {
    font-size: 16px;
  }
}

/* Styles for medium devices (between 601px and 992px) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  /* Your styles for medium devices go here */
}

/* Styles for large devices (greater than 992px) */
@media only screen and (min-width: 993px) {
  /* Your styles for large devices go here */
}
