@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

/* General Styles */

body {
  font-family: "Outfit", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik Lines", sans-serif;
}
.container {
  max-width: 1440px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0 8px !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li {
  list-style: none;
}

.cursor-pointer {
  cursor: pointer !important;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background-color: #fff;
}
/* :root{
    --white : #fff;
} */
.container {
  max-width: 1420px;
}

/* General Styles End */

.theme_breadcrumb {
  color: #000;
  font-family: Outfit;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.select_dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
}

.select_dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px;
  border: 0.5px solid #000;
  background: #fefefe;
  overflow: hidden;
}

.select_dropdown:hover .select_dropdown_content {
  display: block;
  cursor: pointer;
  min-width: fit-content;
}
.select_dropdown:hover .select_dropdown_content .select_item {
  width: 100%;
  min-width: fit-content;
  height: 44px;
  flex-shrink: 0;
  background: white;
  color: black;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.select_dropdown:hover .select_dropdown_content .select_item:hover {
  background: #20c9ff;
  min-width: fit-content;
  color: #fff;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
